{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<div class="container">
    <div class="row">
        <div class="col">
             <h2>Analytics Table</h2>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Score</th> 
    
  </tr>
  <tr>
    <td>Jill</td>
    
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    
    <td>94</td>
  </tr>
  <tr>
    <td>John</td>
    
    <td>80</td>
  </tr>
</table>
            </div>
        </div>
    </div>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
</style>