{% extends 'index.html' %}
{% load static %}
{% block content %}

      <!-- revolution slider -->
      
<div class="Blog-bg">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="Blogheading">
               <h3>{{blog.Name}} </h3>
            </div>
         </div>
         </div>
         {% if user.is_authenticated %}
      <a href="{% url 'Blogs:EditBlog' blog.slug %}">
      <div class="row bg-primary d-flex justify-content-center">
         <div class="col-md-12 d-flex justify-content-center">
            <h3 class="text-light">Edit Blog</h3>
         </div>
      </div>
         </a>
      {% endif %}

   </div>
</div>



      <!-- section --> 
      <div class="section layout_padding ">
         <div class="container" style="background-image:url({{blog.Background_Image.url}})">
            
            <div class="row">
               <div class="col-md-8 offset-md-2">
                  <div class="full">
                     <div class="big_blog">
                        <img class="img-responsive" src="{{blog.Image1.url}}" alt="#" height="300" width="100%"/>
                     </div>
                     <div class="blog_cont_2">
                        <h3>{{blog.Subheading1}}</h3>
                        <p class="sublittle">{{blog.Date}}</p>
                        <p>{{blog.Paragraph1}}</p>
                     </div>
                  </div>
               </div>
            </div>

                 <!-- section -->

            <div class="row pt-3">
               <div class="col-md-8 offset-md-2">
                  <div class="full">
                     <div class="big_blog">
                        <img class="img-responsive" src="{{blog.Image2.url}}" alt="#"  height="300" width="100%"/>
                     </div>
                     <div class="blog_cont_2">
                        <h3>{{blog.Subheading2}}</h3>
                        <p>{{blog.Paragraph2}}</p>
                     </div>
                  </div>
               </div>
            </div>

      <!-- section -->


            <div class="row pt-3">
               <div class="col-md-8 offset-md-2">
                  <div class="full">
                     <div class="big_blog">
                        <img class="img-responsive" src="{{blog.Image3.url}}" alt="#"  height="300" width="100%"/>
                     </div>
                     <div class="blog_cont_2">
                        <h3>{{blog.Subheading3}}</h3>
                        <p>{{blog.Paragraph3}}</p>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row pt-3">
               <div class="col-md-8 offset-md-2">
                  <div class="full">
                     <div class="big_blog">
                        <iframe class="img-responsive" src="{{blog.Video.url}}" height="300" width="100%" allowfullscreen></iframe>
                     </div>
                  </div>
               </div>

            </div>
      <!-- end section -->


         </div>
      </div>
      <!-- end section -->



<!-- section -->
      <section class="layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="heading" style="padding-left: 15px;padding-right: 15px;">
                     <h4 style="border-bottom: solid #333 1px;">Comments / {{blog.coments.count}}</h4>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  {% for coms in blog.coments.all %}
                  <div class="full comment_blog_line">
                     <div class="row">
                        <div class="col-md-1">
                           <img src="{% static 'images/c_1.png' %}" alt="#" />
                        </div>
                        <div class="col-md-9">
                           <div class="full contact_text">
                              <h3>{{coms.Name}}</h3>
                              <h4>Posted on {{coms.Date}}</h4>
                              <p>{{coms.Comment}}</p>
                              <p>{{coms.rating}}/10</p>
                           </div>
                        </div>
                        <div class="col-md-2">
                           <a class="reply_bt" href="#">Reply</a>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
               </div>
            </div>
            <div class="row margin_top_30">
               <div class="col-md-12 margin_top_30">
                  <div class="heading" style="padding-left: 15px;padding-right: 15px;">
                     <h4>Post : Your Comment</h4>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="full comment_form">
                     <form method="post">
                        {% csrf_token %}
                        <fieldset>
                           <div class="col-md-12">
                              <div class="row">
                                 <div class="col-md-6">
                                    <input type="text" name="name" placeholder="Name" required="#" />
                                 </div>
                                 <div class="col-md-6">
                                    <input id="note-textarea" type="text" name="comment" placeholder="Comment">
                                 </div>
                              </div>
                              <div class="row margin_top_30">
                                 <div class="col-md-12">
                                    <div class="center">
                                       <button id="save-note-btn" type="submit" title="Save Note">Send</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </fieldset>
                     </form>
                     <button id="start-record-btn" title="Start Recording">Start Recognition</button>
                     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>     
    <script>
       try {
    var SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
    var recognition = new SpeechRecognition();
  }
  catch(e) {
    console.error(e);
    $('.no-browser-support').show();
    $('.app').hide();
  }
  
  
  var noteTextarea = $('#note-textarea');
  var instructions = $('#recording-instructions');
  var notesList = $('ul#notes');
  
  var noteContent = '';
  
  // Get all notes from previous sessions and display them.
  var notes = getAllNotes();
  renderNotes(notes);
  
  
  
  /*-----------------------------
        Voice Recognition 
  ------------------------------*/
  
  // If false, the recording will stop after a few seconds of silence.
  // When true, the silence period is longer (about 15 seconds),
  // allowing us to keep recording even when the user pauses. 
  recognition.continuous = true;
  
  // This block is called every time the Speech APi captures a line. 
  recognition.onresult = function(event) {
  
    // event is a SpeechRecognitionEvent object.
    // It holds all the lines we have captured so far. 
    // We only need the current one.
    var current = event.resultIndex;
  
    // Get a transcript of what was said.
    var transcript = event.results[current][0].transcript;
  
    // Add the current transcript to the contents of our Note.
    // There is a weird bug on mobile, where everything is repeated twice.
    // There is no official solution so far so we have to handle an edge case.
    var mobileRepeatBug = (current == 1 && transcript == event.results[0][0].transcript);
  
    if(!mobileRepeatBug) {
      noteContent += transcript;
      noteTextarea.val(noteContent);
    }
  };
  
  recognition.onstart = function() { 
    instructions.text('Voice recognition activated. Try speaking into the microphone.');
  }
  
  recognition.onspeechend = function() {
    instructions.text('You were quiet for a while so voice recognition turned itself off.');
  }
  
  recognition.onerror = function(event) {
    if(event.error == 'no-speech') {
      instructions.text('No speech was detected. Try again.');  
    };
  }
  
  
  
  /*-----------------------------
        App buttons and input 
  ------------------------------*/
  
  $('#start-record-btn').on('click', function(e) {
    if (noteContent.length) {
      noteContent += ' ';
    }
    recognition.start();
  });
  
  
  $('#pause-record-btn').on('click', function(e) {
    recognition.stop();
    instructions.text('Voice recognition paused.');
  });
  
  // Sync the text inside the text area with the noteContent variable.
  noteTextarea.on('input', function() {
    noteContent = $(this).val();
  })
  
  $('#save-note-btn').on('click', function(e) {
    recognition.stop();
  
    if(!noteContent.length) {
      instructions.text('Could not save empty note. Please add a message to your note.');
    }
    else {
      // Save note to localStorage.
      // The key is the dateTime with seconds, the value is the content of the note.
      // saveNote(new Date().toLocaleString(), noteContent);
   //    var result = noteContent;
   //  $.ajax({
   //      type: "GET",
   //      url: '/prediction',
   //      data: {
   //          "result": result,
   //      },
   //      dataType: "json",
   //      success: function (data) {
   //          // any process in data
   //          alert("successfull")
   //      },
   //      failure: function () {
   //          alert("failure");
   //      }
   //  });
  
      // Reset variables and update UI.
      // noteContent = '';
      // renderNotes(getAllNotes());
      // noteTextarea.val('');
      instructions.text('Note saved successfully.');
    }
        
  })
  
  notesList.on('click', function(e) {
    e.preventDefault();
    var target = $(e.target);
  
    // Listen to the selected note.
    if(target.hasClass('listen-note')) {
      var content = target.closest('.note').find('.content').text();
      readOutLoud(content);
    }
  
    // Delete note.
    if(target.hasClass('delete-note')) {
      var dateTime = target.siblings('.date').text();  
      deleteNote(dateTime);
      target.closest('.note').remove();
    }
  });
  
  /*-----------------------------
        Speech Synthesis 
  ------------------------------*/
  
  function readOutLoud(message) {
      var speech = new SpeechSynthesisUtterance();
  
    // Set the text and voice attributes.
      speech.text = message;
      speech.volume = 1;
      speech.rate = 1;
      speech.pitch = 1;
    
      window.speechSynthesis.speak(speech);
  }
  
  /*-----------------------------
        Helper Functions 
  ------------------------------*/
  
  function renderNotes(notes) {
    var html = ''; 
    if(notes.length) {
      notes.forEach(function(note) {
        console.log(note);
        html+= `<li class="note">
          <p class="header">
            <span class="date">${note.date}</span>
            <a href="#" class="listen-note" title="Listen to Note">Listen to Note</a>
            <a href="#" class="delete-note" title="Delete">Delete</a>
          </p>
          <p class="content">${note.content}</p>
        </li>`;    
      });
    }
    else {
      html = '<li><p class="content">You don\'t have any notes yet.</p></li>';
    }
    notesList.html(html);
  }
  
  function saveNote(dateTime, content) {
    localStorage.setItem('note-' + dateTime, content);
  }
  
  function getAllNotes() {
    var notes = [];
    var key;
    for (var i = 0; i < localStorage.length; i++) {
      key = localStorage.key(i);
  
      if(key.substring(0,5) == 'note-') {
        notes.push({
          date: key.replace('note-',''),
          content: localStorage.getItem(localStorage.key(i))
        });
      } 
    }
    return notes;
  }
  
  function deleteNote(dateTime) {
    localStorage.removeItem('note-' + dateTime); 
  }
    </script>
                  </div>
               </div>
            </div>
         </div>
      </section>
      
      <!-- end section -->
{% endblock %}